/* General */
*{
    margin: 0px;
    padding: 0px;
}
.fondo{
    background-image: url(./Assets/Imagenes/Fondo.png);

}
/* HEADER */
header{
    display: flex;
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    justify-content: space-evenly;
    font-family: sans-serif;
    align-items: center;
    color: #ffffff;
    padding-left: 1rem;
} 
header li{
    list-style-type: none;
    font-size: 15px;
}
header h1{
    font-size: 15px;
}
header img{
    height: 65px;
    border-radius: 50%;
}

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
.close{
    display: none;
}
.menu{
    margin-top: 0.2rem;
}
.nav__checkbox{
    display: none;
}
.nav li{
    display: none;
}
#nav__checkbox:checked ~ ul.nav__menu li{
    display: block;     
}
#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
}  
#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}
.nav__menu li a{
    text-decoration: none; 
    color: inherit;  
} 
@media screen and (min-width:768px) {
    .nav__toggle{
        display:none;
    }
    .nav__menu{
        display: flex;
        flex-direction: row;        
        gap: 1rem;
    } 
    .nav__menu li{
        display: block;
    }  
    .menu{
        justify-content: space-around;
    } 
    header li{
        list-style-type: none;
        font-size: 20px;
    }
    header h1{
        font-size: 20px;
    }
} 

/*  MAIN INDEX  */
.section img{
    height: 250px;
    border-radius: 50%;
}
.section{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    font-family: sans-serif;
    color: #ffffff;
}
@media screen and (min-width:768px) {
    .section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .section img{
        height: 400px;
    }
    
}

/* GALERIA  */
.imagenes__galeria{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;

}
.grid__galeria {
    display: grid; 
    grid-template-areas: 
    "imagen1 imagen2"
    "imagen3 imagen4"
    "imagen5 imagen6"
    ;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    justify-items: stretch;
    gap: 0.5rem;
}
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.imagen4{
    grid-area: imagen4;
}
.imagen5{
    grid-area: imagen5;
}
.imagen6{
    grid-area: imagen6;
}
.grid__galeria img{
    height: 205px;
}

@media screen and (min-width:768px) {
    .grid__galeria {
        display: grid; 
        grid-template-areas: 
        "imagen1 imagen2 imagen3" 
        "imagen4 imagen6 imagen5"
        ;   
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
        gap: 0.5rem;
    }
        
        .imagen1{
            grid-area: imagen1;
        }
        .imagen2{
            grid-area: imagen2;
        }
        .imagen3{
            grid-area: imagen3;
        }
        .imagen4{
            grid-area: imagen4;
        }
        .imagen5{
            grid-area: imagen5;
        }
        .imagen6{
            grid-area: imagen6;
        }
        .grid__galeria img{
            height: 205px;
        }
}
.grid__galeria img{
    height: 328px;
}


@media screen and (min-width:1200px) {
    .grid__galeria img{
        height: 600px;
    }    
    
}

/* CONTACTO */

.fondo__datos__contacto{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}
.legend__formulario{
    font-weight: 700;
}
.imagen__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
}
.imagen__contacto img{
    height: 500px;

}

/* SERVICIOS */

.article{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}
.img__article{
    height: 146px;
}
@media screen and (min-width:768px) {
    .article1{
        display: flex;
        flex-direction: row;
    }
    .article2{
        display: flex;
        flex-direction: row-reverse;
    }
  
}

/* SOBRE NOSOTROS */
.fondo__main{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}
.img__portada{
    height: 232px;
    width: 100%;
}
.img__empleados{
    height: 300px;
}
.img__parque{
    height: 207px;
}

@media screen and (min-width:768px) {
    .img__portada{
        height: 232px;
        width: 100%;
        padding-bottom: 1rem;
    }
    .empleados{
        display: flex;
        align-items: center;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .img__parque{
        padding: 2rem;
    }
    
}

@media screen and (min-width:1100px) {
    .img__portada{
        height: 434px;
        width: 100%;
        padding-bottom: 1rem;
    }
    .img__parque{
        height: 300px;
    }
    
}

/* FOOTER */

.footer{
    background-color: #a53ca5;
    border: #ffffff 5px groove;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    font-family: sans-serif;
    font-size: 15px;    
}
.footer li{
    list-style-type: none;
}
.footer__data img{
    height: 30px;
}
.footer__redes{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
@media screen and (min-width:768px) {
    .footer{
        display: flex;
        justify-content: center; 
    }      
}