.fondo__main{
    background-color:map-get($color, primary);    
    color: map-get($color, secondary);
    font-family: $primary-font;
    text-align: center;
}
.img__portada{
    height: 232px;
    width: 100%;
}
@media screen and (min-width:1200px) {
    .img__portada{
        height: 510px;
    }
    
}
.card{
    color: #000000;
    transition: 0.4s ease;
    &:active{
        transform: scale(1.1);
    }
}
   

.orden-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}